<% include ./partials/header.ejs %>
  <div class="main container">
		<br>
		<h1 style="text-align: center;">Products List</h1>

		<!--<table id="data-table-elvistek-store" class="ui celled table" cellspacing="0"  style="margin:auto;width:75%">-->
    <table id="data-table-elvistek-store" class="ui celled table" cellspacing="0" style="margin:auto;width:1080px">
			<thead>
				<tr>
					<th>Product Name</th>
          <th>Product Price</th>
          <th>Available Units</th>
          <th>Likes</th>
          <% if(user !== undefined){ %>
					    <th>Action(s)</th>
              <th></th>
              <% if(user.isAdmin === true) { %>
                <th></th>
                <th></th>
              <% } %>
          <% } %>
				</tr>
			</thead>
      
			<tbody>
        <% products.forEach(function(product) { %>
          <tr>
            <td>
              <%= product.productName %>
            </td>
            <td>
              $<%= product.price %>
            </td>
            <td>
              <%= product.amount %>
            </td>
            <td>
              <%= product.like %>
            </td>
            <% if(user !== undefined){ %>
              <td>
                <a href="/likeProduct/<%= product._id %>">
                  <button class="ui inverted blue button">Like</button>
                </a>
              </td>
              <td>
                <a href="/buyProduct/<%= product._id %>>">
                  <button class="ui green button">Buy</button>
                </a>
              </td>
              <% if(user.isAdmin === true) { %>
                <td>
                  <a href="/editProduct/<%= product._id %>">
                    <button class="ui black button">Edit</button>
                  </a>
                </td>
                <td>
                  <form action="/deleteProduct/<%= product._id %>" method="?_method=DELETE">
                    <a href="/deleteProduct/<%= product._id %>">
                      <button type="submit" value="Delete" class="ui red button">Delete</button>
                    </a>
                  </form>
                  
                  <!--<div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>-->
                </td>
              <% } %>
            <% } %>
          </tr>
        <% })%>
			</tbody>
		</table>
	</div>
  
<% include ./partials/footer.ejs %>